@CHARSET "UTF-8";

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:
}

a, a:hover {
	color:#000;
	text-decoration:none;
	cursor:pointer;
}

@font-face {
    font-family: 'HeydingsIconsRegular';
    src: url('heydings_icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color:#fff;
}

abbr {
	font-family:'HeydingsIconsRegular';
	font-size: 30px;
	font-weight:normal;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

abbr:hover {
	opacity:.3;
	cursor: pointer;
}


body {
	background-image: url("../img/kindajean.png");
	background-repeat: repeat;
	background-attachment:fixed;
}

div.fixed-header {
	text-align:center;
	min-height:600px;
}

#intro {
	width:0px;
	white-space:nowrap;
	overflow:hidden;
	padding:60px 0px 50px 0px;
	float:right;
}

#intro img {
	width:700px;
	margin-top:50px;
	border:solid 1px grey;
}

#intro > span {
	font-size:30px;
	color:#000;
	text-align:center;
	display:inline-block;
	font-weight:bold;
	font-family: Poiret One, cursive;
	line-height:90px;
	overflow:hidden;
}


section.main_content {
	min-width:800px;
	margin:20px 150px 70px 150px;
	border-top:solid 1px grey;
	font-weight:bold;
}

section.main_content > span {
	display:block;
	margin:20px 100px 20px 10px;
	font-size:25px;
}

ul.content-links {
	padding-top:30px;
	position:fixed;
	left:0px;
	min-height:900px;
	display:none;
	list-style: none;
}

ul.content-links li {
		padding:20px;
}

span.what_I_do {
	cursor:pointer;
	position:relative;
	white-space:nowrap;
	font-size:90px;
	letter-spacing:-9px;
	padding:0px 10px 20px 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.shadow {
	box-shadow: 0px 1px 5px #888;
	-moz-box-shadow: 0px 1px 5px #888;
	-webkit-box-shadow: 0px 1px 5px #888;
}

footer {
	height:100px;
	color:#fff;
	padding:100px;
	background-color:#000;
}

blockquote {
	width:100%;
	max-width:800px;
	text-align:center;
}

span#quotes {
	margin:70px 0px 70px 0px;
	display:block;
}

table.timeline {
	margin-right:auto;
	margin-left:auto;
	border-collapse: collapse;
}

table.timeline td {
	padding-left:50px;
}

table.timeline tr:last-child {
	border-bottom:solid 1px grey;
}

table.timeline tr:first-child {
	border-top:solid 1px grey;
}

td.year {
	border-right:solid 1px grey;
	padding-right:50px;
	font-size:23px;
	font-family: Poiret One, cursive;
	text-align:right;
}

div.ball {
	height:8px;
	width:8px;
	border-radius: 360px;
	background-color:#000000;
	position:relative;
	left:-54px;
	display:inline-block;
	bottom:3px;
}
 
section#resume img {
	margin:50px;
	width:100px;
}

